body{
    background: rgb(59, 59, 255);
    color: rgb(255, 255, 255);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
}

p{
    font-size: 22px;
}

button{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 18px;
}

.passo{
    display: none;
}
.passo.ativo{
    display: block;
}

main{
    text-align: center;
    max-width: 98%;
}

img{
    max-width: 98%;
}